---
//import Favicon from '../assets/Favicon.astro';
const { title = 'arick blog', ...props } = Astro.props;
---
<title>{title}</title>
<meta name="description" content="Welcome to my new Astro site!">

<!-- 网站分析 -->
<!-- 开放图谱标签 -->
<meta property="og:title" content="arick Astro Website" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://blog.arick.top/" />
<meta property="og:description" content="Welcome to blog Astro site!" />
<meta property="og:image:alt" content="">
